<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Holidays List</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1>Holidays</h1>
    <a th:href="@{/holidays/new}" class="btn btn-primary mb-3">Add New Holiday</a>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="holiday : ${holidays}">
            <td th:text="${holiday.date}"></td>
            <td th:text="${holiday.description}"></td>
            <td>
                <a th:href="@{'/holidays/edit/' + ${holiday.id}}" class="btn btn-success">Edit</a>
                <a th:href="@{'/holidays/delete/' + ${holiday.id}}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
